QWidget#title_widget{
background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:1, stop:0 rgba(238, 140, 72, 255),
stop:0.503311 rgba(238, 140, 72, 155), stop:1 rgba(29,37,39, 255));
}
QLabel#identifier_label{
color:rgb(222, 222,155,155);
font-size:8px;
}