QWidget#main_widget{
   background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(191, 191, 191, 100),
   stop:0.2 rgba(13, 13, 13, 80),
   stop:0.8 rgba(13, 13, 13, 80),
    stop:1 rgba(13, 13, 13, 200));

}
