QWidget{
    color: rgb(192,192,192);
    font-size: 9px;
}

QFrame#LSPromptLabel{
    border:2px solid black;
    background:qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(40,40,40, 255),stop:1 rgba(20,20,20,255))

}
QWidget#_PromptLabelIcon{
border-radius:5px;
}